################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AzureWebApp
/AzureWebApp/bin
/AzureWebApp/obj
